.main{
	margin-top:10em;
	align-items: center;
	border:1px solid #ccc!important;
	border-radius:16px;
	background-color: #fff;
	padding:2em 2em 2em 2em;
	height:20em;
	width:30em;
}
.form-group{
	margin-top:1em;
}
button{
	padding: 0;
	border: none;
	background: none;
	vertical-align: middle;
}
button:hover{
	color:#56bbf7;
}
button:focus {
	outline:0;
}
.thumb {
	display: block;
    max-width:20px;
	max-height:20px;
	width: auto;
	height: auto;
    margin: 10px 5px 0 0;
  }
.sub{
	display: flex;
	justify-content: center;
}
h4{
	margin-right:5em;
}
body{
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size:16px;
	background-image: url('../img/background/background.jpg');
	background-size: 100% 100%;
}
