.role{
	margin-top:4em;
	align-items: center;
	border:1px solid #ccc!important;
	background-color: #fff;
	border-radius:16px;
	padding:1em 2em 1em 2em;
	height:20em;
	width:30em;
}
.form-group{
	margin-top:1em;
}
button{
	padding: 0;
	border: none;
	background: none;
	vertical-align: middle;
}
button:hover{
	color:#56bbf7;
}
button:focus {
	outline:0;
}
.thumb {
	display: block;
    max-width:20px;
	max-height:20px;
	width: auto;
	height: auto;
    margin: 10px 5px 0 0;
  }
.sub{
	display: flex;
	justify-content: center;
}
h1{
	margin-top:2em;
}
body{
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size:16px;
	background-color: rgba(245, 230, 208, 0.25);
}
